h1 {
  max-width: min-content;
}

h2 {
  flex: 0 0 100%;
}

main {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20%;
}

footer {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}


main > div {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}